* {
    box-sizing: border-box
}

html {
    display: block;
    margin: 0 auto;
    overflow: scroll;
    
}

html, body {
    height: 100%;
}

body {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: block;
    background-image: url('../images/background.png');
    height: 100%;
    width: 100%;
    color: #140A25;

}

#bkg-img {
    background-image: url("./assets/images/background.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    
}

p, h2 {

 line-height: 150%;
       
}

a:link {
    color: #140A25; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: plum;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
  }   

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin: auto;
}

.upper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: #140A25 solid 2px;
    height: 80px;
    background: white;
    
}

.nav {
    margin-left: 905px;
    padding: 10px 0 0 180px;
    font-size: 18px;

}


.pri {
    background: #5A142A;
    height: 78px;
    padding: 30px 30px;
    float: left;
    margin-left: 20%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 28px;
    text-align: left;
    color: #F0DAE3;
    
}


.column {
    display: block;
    
}

#about {
    border-right: #140A25 solid 0.5px;
    line-height: 150%;
    padding-right: 5px;

}

#portfolio {
    border-right: #140A25 solid 0.5px;
    line-height: 150%;
    padding-left: 5px;
    padding-right: 5px;
}

#contact {
    line-height: 150%;
    padding-left: 5px;

}



#about, #portfolio, #contact {
    float: left;
}


.page-title {
    border-bottom: solid gray 1px;
    margin: 20px;
}

.main {
    border: #140A25 solid 1px;
    background-color: white;
    width: 960px;
    height: auto;
    position: fixed;
    left: 20%;
    top: 10%;
    margin-top: 30px;

    
}

.content {
    margin: 20px;
}

img {
    float: left;
    margin-right: 10px;
    border: 5px solid #140A25;
}

.master-wrapper {
    min-height: 100%;
    min-width: 100%;
    margin-bottom: -60px;
    
}

form {
    margin: 20px;
    color: #140A25;
}

#button {
    padding: 10px 20px;
    background: #5A142A;
    color: #F0DAE3;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
      
#button:hover {
    background-color: blueviolet;
    color: white;
}

.port-page-title {
    border-bottom: solid gray 1px;
    margin: 20px;
}

.port-main {
    border: #140A25 solid 1px;
    background-color: white;
    width: 960px;
    height: auto;
    position: fixed;
    left: 20%;
    top: 10%;
    margin-top: 30px;

    
}

.project1 {
    float: left;
    position: relative;
    margin-left: 20px;
}

.project1 p {
    position: absolute;
    background: #400D2A;
    color: #F0DAE3;
    bottom: 1px;
    padding: 5px 22px;
}

.project2 {
    float: left;
    position: relative;
    margin-left: 20px;
    margin-right: 250px;
}

.project2 p {
    position: absolute;
    background: #400D2A;
    color: #F0DAE3;
    bottom: 1px;
    padding: 5px 20px;
}

.project3 {
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

.project3 p {
    position: absolute;
    background: #400D2A;
    color: #F0DAE3;
    bottom: 1px;
    padding: 7px 42px;
}

.project4 {
    float: left;
    position: relative;
    margin: 10px 0px 50px 20px;
    
}

.project4 p {
    position: absolute;
    background: #400D2A;
    color: #F0DAE3;
    bottom: 1px;
    padding: 5px 24px;
    
}

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #400D2A;
    width: 100%;
    padding: 25px;
    text-align: center;
    color: #F0DAE3;
    height: 60px;
    border-top: 5px solid #140A25
}